/************* PhotoAlbum **************/

#show-photoAlbum .photoTile {
	 border: 10px solid #EEEEEE;
	 float: left;
	 margin: 15px;
	 outline: 1px solid #CFCFCF;
	 padding: 0px;
	 width: 29%
}

#show-photoAlbum .photoThumb {
	 height: 200px;
	 padding: 10px 10px 0px 10px;
}

#show-photoAlbum .photoDescription {
	 height: 50px;
	 width: 100%;
}

#show-photoAlbum .center {
    margin-left: auto;
    margin-right: auto;
}

#show-photoAlbum .photo {
    max-height: 100%;
	max-width: 100%;
}

#list-photoAlbum .list-text{
	 width: 40%;
	 float:left;
}

/************* Blog **************/

#list-blog .list-text{
	 width: 100%;
	 float:left;
}

#show-blog .content {
	margin-bottom: 15px;
}

#list-blog .list-text{
	 width: 70%;
	 float:left;
}

/************* Photo **************/

#show-photo img {
	max-width: 100%;
	max-height: 1000px;
}

#show-photo .caption {
	padding: 10px 0px;
	font-size: medium;
}
