footer .footer {
	min-width: 0px;
}

.section{
	padding-top: 0px;
}

.section-small{
	padding-top: 15px;
}

.admin{
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#show-photoAlbum .photoTile {
	 border: 10px solid #EEEEEE;
	 float: left;
	 margin: 15px;
	 outline: 1px solid #CFCFCF;
	 padding: 0px;
	 width: 29%
}

#show-photoAlbum .photoThumb {
	 height: 200px;
/* 	 width: 400px; */
	 padding: 10px 10px 0px 10px;
}

#show-photoAlbum .photoDescription {
	 height: 50px;
	 width: 100%;
}

#show-photoAlbum .center {
    margin-left: auto;
    margin-right: auto;
}

#show-photoAlbum .photo {
    max-height: 100%;
	max-width: 100%;
}

#show-world .photoThumb {
	width: 100%;
	height: 100%;
}

#show-world .videoThumb {
	width: 75%;
	position: relative;
	padding-bottom: 42.19%;
	height: 0;
}

iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#show-world .XKCDThumb {
	width: 50%;
}

#show-world .XKCD {
	max-width: 100%;
}

#show-world .image {
	max-height: 700px;
	max-width: 100%
}

#show-world .center {
    margin-left: auto;
    margin-right: auto;
}

#list-world .title{
	
}

#list-world .text{
	 width: 70%;
	 float:left;
}

#list-world .summary{
	padding-left: 20px;
	float: left;
}

#list-world .thumb{
	margin: 5px;
	height:200px;
	width: 27%;
	position: relative;
	vertical-align: middle;
	display: block;
	float:right;
}

#list-world .image{
	max-width: 100%;
	max-height: 200px;
	vertical-align: middle;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#list-world .odd{
	padding: 5px 10px 10px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:rgba(200,200,200,0.2);
	border-radius: 5px;
	margin-bottom: 10px;
	height: 205px;
}

#list-world .even{
	padding: 5px 10px 10px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:rgba(230,230,230,0.2);
	margin-bottom: 10px;
	height: 205px;
}

#list-world .image{
	max-width: 100%;
	max-height: 200px;
	vertical-align: middle;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#show-photo img {
	max-width: 100%;
	max-height: 1000px;
}

#show-photo .photo-nav a:hover {
	text-decoration: none;
	background-color: #eeeeee;
}

#show-photo .photo-nav a{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 8px;
}

#show-photo .right {
	float: right;
	padding-bottom: 10px;
}

#show-photo .photo-nav .center {
	display: inline-block;
	padding-bottom: 10px;
	margin-left: -54px;
	position: absolute;
}


#show-photo .left {
	float: left;
	padding-bottom: 10px;
	margin-right: 43%;
}

#show-photo .caption {
	padding: 10px 0px;
	font-size: medium;
}

#list-photoAlbum .title{
	
}

#list-photoAlbum .text{
	 width: 40%;
	 float:left;
}

#list-photoAlbum .summary{
	padding-left: 20px;
	float: left;
}

#list-photoAlbum .thumb{
	margin: 5px;
	height:200px;
	width: 27%;
	position: relative;
	vertical-align: middle;
	display: block;
	float:right;
}

#list-photoAlbum .image{
	max-width: 100%;
	max-height: 200px;
	vertical-align: middle;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#list-photoAlbum .odd{
	padding: 5px 10px 10px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:rgba(200,200,200,0.2);
	border-radius: 5px;
	margin-bottom: 10px;
	height: 205px;
}

#list-photoAlbum .even{
	padding: 5px 10px 10px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:rgba(230,230,230,0.2);
	margin-bottom: 10px;
	height: 205px;
}

#info .bigFrontPageImage {
	max-height: 100%;
}


#info .bigImageWrapper {
	height: 200px;
}

#info .bigWrapper {
	height: 260px;
}

#list-blog .title{
	
}

#list-blog .text{
	 width: 100%;
	 float:left;
}

#list-blog .summary{
	padding-left: 20px;
	float: left;
	overflow: hidden;
}

#list-blog .odd{
	padding: 5px 10px 10px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:rgba(200,200,200,0.2);
	border-radius: 5px;
	margin-bottom: 10px;
	height: 100px;
}

#list-blog .even{
	padding: 5px 10px 10px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:rgba(230,230,230,0.2);
	margin-bottom: 10px;
	height: 100px;
}

#show-blog .content {
	margin-bottom: 15px;
}

#info2 {
	padding-top: 30px;
	padding-bottom: 10px;
}
#info {
	padding-top: 30px;
}

#intro-about {
	padding-top: 0px;
}

#intro-about .about_text {
	width:75%;
}

#intro-about .about_photo {
	width:22%;
	position: relative;
	display: block;
	float:right;
	padding: 0px 0px 10px 10px;
}

/* #intro-about .about_photo .img{ */
/* 	max-height: 400px; */
/* 	float:right; */
/* } */

#additional-about{
	padding-top: 5px;
}

#additional-about .QA {
	padding-bottom: 10px;
}

#additional-about .question {
	font-weight: bold;
	font-size: medium;
}

#additional-about .answer {
	font-style: italic;
}

#intro-contact {
	padding-top: 15px;
}

#address-contact {
	padding-top: 10px;
}

#intro-site{
	padding-top: 5px;
}
#application-site{
	padding-top: 5px;
}
#resources-site{
	padding-top: 5px;
}
#additional-site{
	padding-top: 5px;
}
#error-info .image{
	margin: 8px;
}
#error-info .info{
	font-size: large;
}
.small_title{
	margin-bottom: 0px;
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
}
.indent-body {
	padding: 0px 20px;
}

@media (max-width: 979px) {
	#list-photoAlbum .image{
		display: none;
	}
	#list-world .image{
		display: none;
	}
	#list-photoAlbum .text{
		width: inherit;
	}
	#list-world .text{
		width: inherit;
	}
	#list-photoAlbum .thumb{
		display: none;
	}
	#list-world .thumb{
		display: none;
	}
	#show-photoAlbum .photoTile{
		width: 90%;
	}
	#intro-about .about_text {
		width: inherit;
	}
	#intro-about .about_photo {
		display: none;
	}
	#menu-no-show-mobile {
		display: none;
	}
	#show-photo .photo-nav .center {
	margin-left: -108px;
	}
	.odd {
		min-height: 100px;
		max-height: 350px;
		height: inherit;
		overflow: hidden;
	}
	.even {
		min-height: 100px;
		max-height: 350px;
		height: inherit;
		overflow: hidden;
	}
	.title {
		overflow: hidden;
		padding-bottom: 6px;
	}
	#show-world .videoThumb {
		width: 100%;
		padding-bottom: 56.25%;
	}
}