@media (max-width: 979px) {
	.list-image{
		display: none;
	}
	.list-text{
		width: inherit;
	}
	.list-thumb{
		display: none;
	}
	.map{
		display: none !important;
	}
	#show-photoAlbum .photoTile{
		width: 90%;
	}
	#intro-about .about_text {
		width: inherit;
	}
	#intro-about .about_photo {
		display: none;
	}
	#menu-no-show-mobile {
		display: none;
	}
	#show-photo .photo-nav .center {
	margin-left: -108px;
	}
	.odd {
		min-height: 100px;
		max-height: 350px;
		height: inherit;
		overflow: hidden;
	}
	.even {
		min-height: 100px;
		max-height: 350px;
		height: inherit;
		overflow: hidden;
	}
	.title {
		overflow: hidden;
		padding-bottom: 6px;
	}
	#show-world .videoThumb {
		width: 100%;
		padding-bottom: 56.25%;
	}
	#list-photoAlbum .list-text{
	 width: 100%;
	}
}